<h2>Opinions</h2>
<% @place.opinions.each do |opinion| %>
  <h3> Opinion </h3>
  <p>
    <strong>Pseudo:</strong>
    <%= opinion.pseudo %>
  </p>
 
  <p>
    <strong>Opinion:</strong>
    <%= opinion.comment %>
  </p>
<% end %>