<!DOCTYPE html>
<html>
<head>
  <title>APITourisme</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= 
  	#stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  	#javascript_include_tag 'application', 'data-turbolinks-track' => true
  	csrf_meta_tags 
  %>
</head>

<body>
<div class="container">
	<%= yield %>
</div>

<br>
<footer>
    <div class="container">
        <em>Projet API_Tourisme  v.0.4</em>
    </div>
</footer>
</body>
</html>
